@import url(http://fonts.googleapis.com/css?family=Josefin+Slab:300,400,600);

body {
  margin: 0;
  background: #f6f6f6;
}

header {
  background: #eee;
}

header .banner {
  width: 768px;
  height: 175px;
  margin: 0 auto;
  position: relative;
}

header .banner .text {
  background: url('img/banner-text.png') bottom no-repeat;
  background-size: 100%;
  height: 100%;
  width: 40%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

header .banner .graphic {
  background: url('img/banner-graphic.svg') bottom no-repeat;
  background-size: 100%;
  height: 100%;
  width: 65%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

section {
  width: 768px;
  margin: 0 auto;
  padding: 80px 0;
}

section.row:after {
  content: "";
  clear: both;
  visibility: hidden;
  display: block;
  height: 0;
}

section .tile {
  height: 200px;
  width: 25%;
  padding: 0 12px 12px 0;
  
  float: left;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

section .tile .inner {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 16px -6px #999;
}

section .tile .inner .graphic{
  height: 65%;
  background-color: #5e9732;
}

section .tile .inner .graphic.coffee {
  background-image: url('img/coffee.svg');
  background-position: center;
  background-repeat: no-repeat;
}

section .tile .inner .caption {
  height: 35%;
  font-family: 'Josefin Slab';
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -.04em;
  text-align: center;
  margin-top: 4%;
  color: #666;
}

